# This is mapping list between real user name/email and entry into sources files
# If you don't want to have your real email appears here, just send a Pull Request to
# replace the second field between <> with <secret>
Rafael San José <rsanjose@alxarafe.com> Rafael San José <rsanjose@alxarafe.com>
Rafael San José <rsanjose@alxarafe.com> Cayetano Hernández <chernandez@alxarafe.com>
